* {
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	padding: 10px;
	background-color: gray;
	color: white;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#container {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: gray;
	border: 5px solid black;
	gap: 1px;
}

.row {
	flex-grow: 1;
	display: flex;
	gap: 1px;
}

.column {
	background-color: white;
	flex-grow: 1;
}

footer {
	padding: 10px;
	background-color: gray;
	color: white;
	text-align: center;
	font-size: 20px;
}